{
	"id": "dnp3",
	"description": "A dnp3 outstation implementation.",
	"creator": "PNNL",
	"input_topics": [],
	"output_topics": [],
	"static_args": ["(simulationId)"],
	"execution_path": "/gridappsd/services/gridappsd-dnp3/service/new_start_service.py",
	"type": "PYTHON",
	"launch_on_startup": "true",
	"service_dependencies": [],
	"multiple_instances": "true",
	"environmentVariables":[]
}
